{% extends 'base.html' %}

{% block content %}
<h1 class ="text-center">  Feel Good Coffee</h1>
<div class="row">
    <ul>
        {% for coffee in coffee %}
        <li> <!-- Add this li tag to wrap each item in the loop -->
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ coffee.name }}</h5>
                        <p class="card-text">${{ coffee.price }}</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="https://www.w3schools.com/css/">Learn more about CSS</a>
                    </div>
                    <br><br>
                    <button>Click Me</button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}




